.services-main-container {
  padding: 40px;
  text-align: center;
}

.heading-service {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  justify-items: center;
  animation:fadeIn 2s ease;
  perspective: 1000px;
}
.card-heading{
  color: aliceblue;
  margin-top: 7.4rem;
    
}
.book-button{
  background: rgb(250, 142, 9);
  color: aliceblue;
  font-size: 1rem;
 font-family: 'Roboto';
}


.heading-service{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  color: blueviolet;
  padding: 20px;
}

.card {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 230px;
  perspective: 1000px;
  border: none;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateX(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 16px;
  border:none;
}
.back-card-text{
  font-size: 1.4rem;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.card-front {
  background-size: cover;
  background-position: center;
}

.card-back {
  background: blueviolet;
  transform: rotateX(180deg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@keyframes fadeIn{
  from{
    opacity: 0;

  }
  to{
    opacity: 1;
    transform: translateY(50deg);

  }
}


@media (max-width: 992px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-heading,
  .card-2-heading {
    font-size: 1.3rem;
  }

  .book-button {
    font-size: 1.2rem;
    width: auto;
    padding: 8px 16px;
  }
}

@media (max-width: 576px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
.heading-service {
    font-size: 1.5rem;
    padding: 10px;
  }
  .book-button {
    font-size: 1rem;
    padding: 6px 12px;
  }
}