.hero {
  position: relative;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1560807707-8cc77767d783") 
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 20px;
  animation: fadeIn 2s ease-in-out;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  animation: slideDown 1.5s ease-in-out;
}

.hero-subtitle {
  font-size: 1.3rem;
  margin-bottom: 30px;
  animation: fadeInUp 2s ease-in-out;
  color: gray;
}

.hero-btn {
  font-size: 1.1rem;
  padding: 12px 25px;
  border-radius: 50px;
  background: linear-gradient(45deg, #ff6b6b, #f06595);
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
  color: #ff6b6bbb;
}

.hero-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 20px rgba(255, 107, 107, 0.6);
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideDown {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes fadeInUp {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
