
.home-main-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #d4b209;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  
}


.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 60px;
  position: sticky;
  top: 0;
  z-index: 100;

  animation: fadeIn 2s ease;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  padding-right: 10px;
  color: #d4b209;
 animation: fadeIn 2s ease;

}
.hero-section {
  display: flex;
  justify-content:end;
  align-items:center;
  padding: 80px 60px;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
  color: rgb(254, 192, 5);
}

.hero-text p {
  font-size: 18px;
  color: #e3dfd57f;
  margin-bottom: 20px;
}



@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-image img {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
  }
}
