.footer {
  background: linear-gradient(135deg, black , #0d0d0e);
  color: white;
  text-align: center;
  padding: 30px 20px;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  animation: fadeInUp 1s ease-in-out;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer-content {
  max-width: 800px;
  margin: auto;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  animation: popIn 0.8s ease;
}

.footer p {
  margin: 5px 0;
  font-size: 0.95rem;
  opacity: 0.9;
}

.social-links {
  margin-top: 15px;
}

.social-links a {
  margin: 0 10px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 6px 12px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
}

.social-links a:hover {
  background: white;
  color: #2575fc;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
